html, input {
    font-family: monospace;
    font-size: 16px;
}

html, body, #container {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
}

#output, #input {
    width: 100%;
    padding: 1em 2em;
    box-sizing: border-box;
}

#output {
    flex: 1;
    padding-bottom: 0;
    background-color: #DDD;
    overflow-y: scroll;
}

#input {
    border: none;
}

.output-msg {
    margin: 0.5em 0;
    line-height: 1.3em;
    overflow-x: hidden;
}

.output-msg:first-child {
    margin-top: 0;
}

.output-msg:last-child {
    margin-bottom: 1em;
}

.output-msg-player::before {
    content: "> ";
}

.output-msg-player {
    color: #777;
}

.output-msg-game {
    color: #333;
}